.F, .C, .B, .A {
    font-size:1.6rem;
    vertical-align:middle;
}

.F {
    color: red;
}

.C {
    color: orange;
}

.B {
    color: yellow;
}

.A {
    color: green;
}

form { display:inline-block; }

.inline_heading{
    font-weight:700 !important;
}